{% extends 'application1/base.html'%}
{% block style%}

    <title>Table Airports_dep</title>
    <style>   
        table.mon_tableau  {
            border-collapse: collapse;
        }
        table.mon_tableau td {
        border: 1px solid #5555;
        padding: 0.3em;
        font-family: "Sans-serif";
        font-size: 12px;
        }
        table.mon_tableau tr:nth-child(even)  {background: #EEE}
        table.mon_tableau tr:nth-child(odd) {background: #FFF}
    </style>

{% endblock style %}

{% block content %}

    <div class="collapse navbar-collapse" id="navbarToggle">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{% url 'application_airports_dep' %}">Aéroports de départ</a>
    </div>
    </div>
    <h1>La table Airports_dep</h1>
    <table class="mon_tableau">

        <tr>
            <td>ICAO</td>
            <td>Name_airport</td>
            <td>City</td>
            <td>Country</td>
            <td>Latitude</td>
            <td>Longitude</td>
        </tr>
        {% for i in Aéroport_dep %}
        <tr>
            <td>{{ i.IACO }} </td>
            <td>{{ i.airport_name }} </td>
            <td>{{ i.city }} </td>
            <td>{{ i.country }} </td>
            <td>{{ i.lat }} </td>
            <td>{{ i.lon }} </td>
        </tr>
        {% endfor %}
        </table>

{% endblock content %}