{% extends 'application1/base.html'%}
{% block style%}

    <title>Home Page</title>
    <style>   
        table.mon_tableau  {
            border-collapse: collapse;
        }
        table.mon_tableau td {
        border: 1px solid #5555;
        padding: 0.3em;
        font-family: "Sans-serif";
        font-size: 12px;
        }
        table.mon_tableau tr:nth-child(even)  {background: #EEE}
        table.mon_tableau tr:nth-child(odd) {background: #FFF}
    </style>

{% endblock style %}

{% block content %}

    <div class="collapse navbar-collapse" id="navbarToggle">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{% url 'application_airports_dep' %}">Aéroports de départ</a>
    </div>
    </div>

    <p> Description du projet et dashboards</p>

{% endblock content %}