{% extends 'application1/base.html'%}
{% block style%}

    <title>Table Incidents</title>
    <style>   
        table.mon_tableau  {
            border-collapse: collapse;
        }
        table.mon_tableau td {
        border: 1px solid #5555;
        padding: 0.3em;
        font-family: "Sans-serif";
        font-size: 12px;
        }
        table.mon_tableau tr:nth-child(even)  {background: #EEE}
        table.mon_tableau tr:nth-child(odd) {background: #FFF}
    </style>

{% endblock style %}

{% block content %}

    <h1>La table Incidents</h1>
    <table class="mon_tableau">

        <tr>
            <td>id_incident</td>
            <td>Date</td>
            <td>Localisation</td>
            <td>Pays</td>
            <td>Modèle d'avion</td>
            <td>Aéroport de départ</td>
            <td>Aéroport d'arrivée</td>
        </tr>
        {% for i in Incidents %}
        <tr>
            <td>{{ i.id }} </td>
            <td>{{ i.date }} </td>
            <td>{{ i.location }} </td>
            <td>{{ i.incident_country }} </td>
            <td>{{ i.plane_type }} </td>
            <td>{{ i.airport_dep }} </td>
            <td>{{ i.airport_arr }} </td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}