{% extends 'application1/base_data.html'%}
{% block style_data%}

    <title>Table Airports_dep</title>

{% endblock style_data %}

{% block content_data %}

    <h1>La table Airports_dep</h1>
    <table class="mon_tableau">

        <tr>
            <td>ICAO</td>
            <td>Name_airport</td>
            <td>City</td>
            <td>Country</td>
            <td>Latitude</td>
            <td>Longitude</td>
        </tr>
        {% for i in Aéroport_dep %}
        <tr>
            <td>{{ i.IACO }} </td>
            <td>{{ i.airport_name }} </td>
            <td>{{ i.city }} </td>
            <td>{{ i.country }} </td>
            <td>{{ i.lat }} </td>
            <td>{{ i.lon }} </td>
        </tr>
        {% endfor %}
    </table>

{% endblock content_data %}