{% extends 'application1/base_explore.html'%}
{% block style%}

    <title>Explore Page</title>
    
{% endblock style %}

{% block content_explore %}

    <h1> Welcome on the discovery page !</h1>
    <p>
        Vous pouvez maintenant naviguer à travers les différentes sections pour en apprendre plus sur les
        accidents aériens.
    </p>
    <p>
        Vous pouvez notamment découvrir quels sont les pays où se sont produit le plus d'accidents
        mais aussi les compagnies aériennes ayant connu le plus ou le moins d'incidents. </p>

{% endblock content_explore %}