{% extends 'application1/base.html'%}
{% block style%}

    <title>Home Page</title>
    
{% endblock style %}

{% block content %}
    <h1>Welcome on our very first web application page !</h1>
    <p> 
        Cette application web a été réalisée grâce à l'ORM Django, dans le cadre d'un projet global
        de programmation. </p>
    <p>
        Les données utilisées pour créer les différentes pages de cette application ont été récupérées
        et nettoyées par nos soins puis stockées dans une base de données PostgreSQL.</p>
    <p>
        La page 'Data' permet de visualiser les tables de notre base de données, telles qu'elles ont ét
        créées dans la base PostgreSQL.</p>
    <p>
        La Page 'Explore' vous permettera d'en apprendre un peu plus sur les accidents aériens survenus
        entre 1919 et aujourd'hui.</p>
    <p>    
        좋은 시간 보내세요!
    </p>

{% endblock content %}